@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body{ 
  font-family: 'JetBrains mono', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  background: #242424;
  color: white;
}

h1{
  font-weight: normal;
  font-size: 3.2rem;
  margin-top: 4.5rem;
  text-align: center;
}

h2{
  color: #242424;
  text-align: center;
}

.title-container{
  margin-top: 10rem;
}

.countdown-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.text{
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el{
  text-align: center;
}

.countdown-el span{
  font-size: 1.5rem;
}

label{
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

input{
  background-color: #0080ff;
  color: #FFF;

  padding: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
  background-color: #FFF;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

